{% extends "::layout.html.twig" %}

{% block content %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}
<div>
{{  form_start( form ) }}
	{{ form_errors(form)}}
	{{ form_widget( form ) }}
	
	<input type="submit" class="btn btn-success" value="Enregistrer" />
{{  form_end( form ) }}
</div>
{% endblock %}